/* a[href= (^ ouqe tiver no começo) ($oque tiver no final) (* que tenha isso na palavra) */
/* myh-child utilizamos para selecionar a tag pela sua orderm que esta no codigo 
ex div  containernt-child(2n) or (even que prega os pares)*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 60px;
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
p{
    font-size: 20px;
    color: white;
}
span{
    color: white;
    font-size: 20px;
}
.main{
    width: 80vw;
    display: flex;
    /* border: 1px solid black; */
    margin: 0 auto;
    height: 40vw;
    margin-top: 3%;
    background-image: linear-gradient(to bottom, rgb(5, 5, 5), rgb(0, 173, 204));
}
.imagem img{
    width: 80%;
}
.texto{
    width: 60%;
    height: 100%;
    text-align: center;
    /* border: 2px solid darkorchid; */
}
.imagem{
    width: 40%;
}
#imagem-imagem{
    width: 100%;
    height: 100%;
}
.cabecalho{
    /* border: 2px solid darkgreen; */
    height: 50%;
    padding-top: 5%;
    margin-top: 3%;
}
.formulario{
    /* border: 2px solid darkblue; */
    height: 30%;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
}
#email{
    width: 90%;
    height: 50px;
    border-radius: 5px;
}
#participar{
    width: 90%;
    height: 45px;
    border-radius: 5px;
    color: white;
    background-color: rgb(1, 12, 14);
}
.check{
    text-align: start;
    padding-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
}
